# Hausaufgaben Einstieg in Python - Lektion 2

1.Kreiere eine Liste aus Zahlen, die aus 10 Elementen besteht, und ordne sie der Variabel a zu.

In [34]:
a = list(range(10))

In [35]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

2.Mache dasselbe mit einer Liste aus 100 Elementen und ordne sie der Variabel b zu.

In [36]:
b = list(range(100))

In [37]:
b

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

3.Füge beiden Listen folgenden String an: 'ich bin keine Zahl'

In [38]:
a.append("ich bin keine Zahl")

In [39]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'ich bin keine Zahl']

In [40]:
b.append("ich bin keine Zahl")

4.Lösche diesen letzten Eintrag in der Liste wieder

In [41]:
a.pop() #Oder auch mittel Funktion remove a.remove

'ich bin keine Zahl'

In [42]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
b.pop()

'ich bin keine Zahl'

In [44]:
b

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

5.Verwandle jede Zahl in den Listen a und b von int in str?

In [45]:
a = list(map(str, a))

In [46]:
a

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [47]:
b = list(map(str, b))
b

['0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99']

In [48]:
#Barnabys Lösung for x in a:
a = range(10)
a

range(0, 10)

In [49]:
#Barnabys Lösung: for loops! Sehr wichtig! Wir müssen in Liste reingehen und die Liste manipulieren.
empty_list = []
for element_in_the_list in a:
    new_element = str(element_in_the_list)
    empty_list.append(new_element)
empty_list

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

6.Von der list b, zeige nur die letzten zehn Nummern an

In [50]:
b = range(100)

str(b)

lange_leere_liste = []
for x in b:
    neues_element = str(x)
    lange_leere_liste.append(neues_element)

In [51]:
b[89:95]

range(89, 95)

7.Von der folgenden Liste, zeige den zweit grössten Wert an

In [52]:
#Schritt 1: sortieren Schritt 2: -2
c = range(100)
c = range(0,100)
c = list (range(100))
c

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [53]:
c[-2]

98

In [54]:
sorted(c, reverse=True) #Sortieren und die Reihenfolge ändern

[99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]

In [55]:
c[1]

1

In [72]:
c[::2] #Jedes 2. Element.

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [73]:
c[::3] #Jedes 3. Element.

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [74]:
d = [23, 333, 567, 888]
d

[23, 333, 567, 888]

In [ ]:
#Python Panda als Hilfsmlittel bei Listen. Listen sind sehr praktisch.

8.Multipliziere jede Nummer in dieser Liste, die kleiner ist als 100, mit 100; wenn die Nummern zwischen 100 und 1000 verwandle sie in eine String, und wenn sie grösser oder gleich 1000 ist, lösche sie.

In [56]:
#Umwandlung zurück in integer
b = list(map(int, b))

In [57]:
#Neue Liste, in welche die Datenveränderungen abgespeichert wird
b_new = []

In [58]:
#Schritt 1: Multiplikation mit 100 wenn 
for elem in b:
    if elem < 100:
        temp = elem*100
        b_new.append(temp)
    else:
        b_new.append(elem)
        continue

In [59]:
#Schritt 2: Umwandlung in String wenn Listenelement zwischen 100 und 1000
for elem in b_new:
    if elem > 100 and elem < 1000:
        index = int(elem/100)
        b_new[index]=str(elem)
    if elem >= 1000:
        for i in [i for i,x in enumerate(b_new) if x == elem]:
            del b_new[i]
            print(i)
            
    else:
        continue

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54

In [60]:
b_new

[0,
 100,
 '200',
 '300',
 '400',
 '500',
 '600',
 '700',
 '800',
 '900',
 1100,
 1300,
 1500,
 1700,
 1900,
 2100,
 2300,
 2500,
 2700,
 2900,
 3100,
 3300,
 3500,
 3700,
 3900,
 4100,
 4300,
 4500,
 4700,
 4900,
 5100,
 5300,
 5500,
 5700,
 5900,
 6100,
 6300,
 6500,
 6700,
 6900,
 7100,
 7300,
 7500,
 7700,
 7900,
 8100,
 8300,
 8500,
 8700,
 8900,
 9100,
 9300,
 9500,
 9700,
 9900]

In [77]:
#Frage 8 gemäss Barnaby
e = list(range(10))
e

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
#Multipliziere jede Nummer in dieser Liste, die kleiner ist als 100, mit 100; wenn die Nummern zwischen 100 und 1000 verwandle sie in eine String, und wenn sie grösser oder gleich 1000 ist, lösche sie.
e_neue = []
for elem in e:
    if elem > 1000:
        pass
    elif elem > 100:
        e_neue.append(str(elem))
    else: 
        elem= elem *100
        e_neue.append(elem)
e_neue

[0, 100, 200, 300, 400, 500, 600, 700, 800, 900]

In [82]:
e_neue = []
index = 0
for elem in e:
    
    if elem > 1000:
        pass
    
    elif elem > 100:
        e_neue.append(str(elem))
    else: 
        elem = elem * 100
        e_neue.append(elem)
        print(index)
        index +=1

0
1
2
3
4
5
6
7
8
9

9.Schreibe eine Dictionary-Liste der fünf grössten Schweizer Städte, ihrer Bevölkerung und dem jeweiligen Kanton.

In [83]:
#Quelle: Wikipedia. Die grössten Schweizer Städte.
ZH = {'Stadt': 'Zurich', 'Bevölkerung': 396027, 'Kanton': 'ZH'}
GE = {'Stadt': 'Genf', 'Bevölkerung': 194565, 'Kanton': 'GE'}
BS = {'Stadt': 'Basel', 'Bevölkerung': 175131, 'Kanton': 'BS'}
BE = {'Stadt': 'Bern', 'Bevölkerung': 140634, 'Kanton': 'BE'}
LS = {'Stadt': 'Lausanne', 'Bevölkerung': 135629, 'Kanton': 'VD'}

In [84]:
dct_lst = [ZH,GE,BS,BE,LS]

In [85]:
dct_lst

[{'Bevölkerung': 396027, 'Kanton': 'ZH', 'Stadt': 'Zurich'},
 {'Bevölkerung': 194565, 'Kanton': 'GE', 'Stadt': 'Genf'},
 {'Bevölkerung': 175131, 'Kanton': 'BS', 'Stadt': 'Basel'},
 {'Bevölkerung': 140634, 'Kanton': 'BE', 'Stadt': 'Bern'},
 {'Bevölkerung': 135629, 'Kanton': 'VD', 'Stadt': 'Lausanne'}]

10.Zeige nur die Bevölkerung der Stadt Genf an

In [86]:
dct_lst[1]['Bevölkerung']

194565

In [93]:
b = 0

for elem in dct_lst:
    b = b + elem["Bevölkerung"] #Eingabe mittels Tab-Taste.
    print(b)

396027
590592
765723
906357
1041986

In [94]:
b

1041986

11.Drucke (print) das Total der Bevölkerungen aller Städte aus

In [95]:
a=0
for dic in dct_lst:
    a = a+ dic['Bevölkerung']

In [96]:
a

1041986

12.Rechne den Anteil der Bevölkerung der jeweiligen Städte an der Gesamtbevölkerung der Schweiz aus und "print" die Ergebnisse neben dem Städtenamen

In [110]:
gesamt = 8000000
for city in dct_lst:
    prozent = (city['Bevölkerung']/gesamt*100)
    print(city['Stadt'], '::::: ', str(prozent)) #Auf Klammern achten!

Zurich :::::  4.9503375
Genf :::::  2.4320625
Basel :::::  2.1891375
Bern :::::  1.7579250000000002
Lausanne :::::  1.6953624999999999

13.Füge noch die Städte Winterthur und Luzern hinzu

In [111]:
Winterthur = {'Stadt': 'Winterthur', 'Bevölkerung': 106778, 'Kanton': 'ZH'}
Luzern = {'Stadt': 'Luzern', 'Bevölkerung': 81284, 'Kanton': 'LU'}
dct_lst.append(Winterthur)
dct_lst.append(Luzern)
dct_lst

[{'Bevölkerung': 396027, 'Kanton': 'ZH', 'Stadt': 'Zurich'},
 {'Bevölkerung': 194565, 'Kanton': 'GE', 'Stadt': 'Genf'},
 {'Bevölkerung': 175131, 'Kanton': 'BS', 'Stadt': 'Basel'},
 {'Bevölkerung': 140634, 'Kanton': 'BE', 'Stadt': 'Bern'},
 {'Bevölkerung': 135629, 'Kanton': 'VD', 'Stadt': 'Lausanne'},
 {'Bevölkerung': 106778, 'Kanton': 'ZH', 'Stadt': 'Winterthur'},
 {'Bevölkerung': 81284, 'Kanton': 'LU', 'Stadt': 'Luzern'}]

In [70]:
dct_lst.pop()

{'Einwohner': 81284, 'Kanton': 'LU', 'Stadt': 'Luzern'}

14.Ergänze die Städte-Dictionary-Liste mit Winterthur und Luzern

In [71]:
#Siehe oben.

15.Wiederhole den loop von oben, um den Anteil der Bevölkerung an der Gesamtbevölkerung auszurechnen, dieses Mal mit Winterthur und Luzern