# Hausaufgaben Einstieg in Python - Lektion 2

1.Kreiere eine Liste aus Zahlen, die aus 10 Elementen besteht, und ordne sie der Variabel a zu.

In [2]:
a = list(range(10))

In [3]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

2.Mache dasselbe mit einer Liste aus 100 Elementen und ordne sie der Variabel b zu.

In [4]:
b = list(range(100))

In [5]:
b

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

3.Füge beiden Listen folgenden String an: 'ich bin keine Zahl'

In [6]:
a.append("ich bin keine Zahl")

In [7]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'ich bin keine Zahl']

In [8]:
b.append("ich bin keine Zahl")

4.Lösche diesen letzten Eintrag in der Liste wieder

In [9]:
a.pop()

'ich bin keine Zahl'

In [11]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
b.pop()

'ich bin keine Zahl'

In [13]:
b

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

5.Verwandle jede Zahl in den Listen a und b von int in str?

In [14]:
a = list(map(str, a))

In [15]:
a

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [17]:
b = list(map(str, b))
b

['0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99']

6.Von der list b, zeige nur die letzten zehn Nummern an

In [18]:
b[90:]

['90', '91', '92', '93', '94', '95', '96', '97', '98', '99']

7.Von der folgenden Liste, zeige den zweit grössten Wert an

In [19]:
b[98]

'98'

8.Multipliziere jede Nummer in dieser Liste, die kleiner ist als 100, mit 100; wenn die Nummern zwischen 100 und 1000 verwandle sie in eine String, und wenn sie grösser oder gleich 1000 ist, lösche sie.

In [21]:
#Umwandlung zurück in integer
b = list(map(int, b))

In [22]:
#Neue Liste, in welche die Datenveränderungen abgespeichert wird
b_new = []

In [23]:
#Schritt 1: Multiplikation mit 100 wenn 
for elem in b:
    if elem < 100:
        temp = elem*100
        b_new.append(temp)
    else:
        b_new.append(elem)
        continue

In [101]:
#Schritt 2: Umwandlung in String wenn Listenelement zwischen 100 und 1000
for elem in b_new:
    if elem > 100 and elem < 1000:
        index = int(elem/100)
        b_new[index]=str(elem)
    if elem >= 1000:
        for i in [i for i,x in enumerate(b_new) if x == elem]:
            del b_new[i]
            print(i)
            
    else:
        continue

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54

In [24]:
b_new

[0,
 100,
 200,
 300,
 400,
 500,
 600,
 700,
 800,
 900,
 1000,
 1100,
 1200,
 1300,
 1400,
 1500,
 1600,
 1700,
 1800,
 1900,
 2000,
 2100,
 2200,
 2300,
 2400,
 2500,
 2600,
 2700,
 2800,
 2900,
 3000,
 3100,
 3200,
 3300,
 3400,
 3500,
 3600,
 3700,
 3800,
 3900,
 4000,
 4100,
 4200,
 4300,
 4400,
 4500,
 4600,
 4700,
 4800,
 4900,
 5000,
 5100,
 5200,
 5300,
 5400,
 5500,
 5600,
 5700,
 5800,
 5900,
 6000,
 6100,
 6200,
 6300,
 6400,
 6500,
 6600,
 6700,
 6800,
 6900,
 7000,
 7100,
 7200,
 7300,
 7400,
 7500,
 7600,
 7700,
 7800,
 7900,
 8000,
 8100,
 8200,
 8300,
 8400,
 8500,
 8600,
 8700,
 8800,
 8900,
 9000,
 9100,
 9200,
 9300,
 9400,
 9500,
 9600,
 9700,
 9800,
 9900]

9.Schreibe eine Dictionary-Liste der fünf grössten Schweizer Städte, ihrer Bevölkerung und dem jeweiligen Kanton.

In [25]:
#Quelle: Wikipedia. Die grössten Schweizer Städte.
ZH = {'Stadt': 'Zurich', 'Einwohner': 396027, 'Kanton': 'ZH'}
GE = {'Stadt': 'Genf', 'Einwohner': 194565, 'Kanton': 'GE'}
BS = {'Stadt': 'Basel', 'Einwohner': 175131, 'Kanton': 'BS'}
BE = {'Stadt': 'Bern', 'Einwohner': 140634, 'Kanton': 'BE'}
LS = {'Stadt': 'Lausanne', 'Einwohner': 135629, 'Kanton': 'VD'}

In [26]:
dct_lst = [ZH,GE,BS,BE,LS]

In [27]:
dct_lst

[{'Einwohner': 396027, 'Kanton': 'ZH', 'Stadt': 'Zurich'},
 {'Einwohner': 194565, 'Kanton': 'GE', 'Stadt': 'Genf'},
 {'Einwohner': 175131, 'Kanton': 'BS', 'Stadt': 'Basel'},
 {'Einwohner': 140634, 'Kanton': 'BE', 'Stadt': 'Bern'},
 {'Einwohner': 135629, 'Kanton': 'VD', 'Stadt': 'Lausanne'}]

10.Zeige nur die Bevölkerung der Stadt Genf an

In [28]:
dct_lst[1]['Einwohner']

194565

In [126]:
for dic in dct_lst:
    if dic['Stadt'] == "Genf"
        print dic['Einwohner']

SyntaxError: invalid syntax (<ipython-input-126-b2f6462855c5>, line 2)

11.Drucke (print) das Total der Bevölkerungen aller Städte aus

In [29]:
a=0
for dic in dct_lst:
    a = a+ dic['Einwohner']

In [123]:
a

1041986

12.Rechne den Anteil der Bevölkerung der jeweiligen Städte an der Gesamtbevölkerung der Schweiz aus und "print" die Ergebnisse neben dem Städtenamen

In [30]:
for dic in dct_lst:
    b = round(dic['Einwohner']/a*100,1)
    print(dic['Stadt'] + ': '+  str(b) + '%')

Zurich: 38.0%
Genf: 18.7%
Basel: 16.8%
Bern: 13.5%
Lausanne: 13.0%

13.Füge noch die Städte Winterthur und Luzern hinzu

In [33]:
Winterthur = {'Stadt': 'Winterthur', 'Einwohner': 106778, 'Kanton': 'ZH'}
Luzern = {'Stadt': 'Luzern', 'Einwohner': 81284, 'Kanton': 'LU'}
dct_lst.append(Winterthur)
dct_lst.append(Luzern)
dct_lst

[{'Einwohner': 396027, 'Kanton': 'ZH', 'Stadt': 'Zurich'},
 {'Einwohner': 194565, 'Kanton': 'GE', 'Stadt': 'Genf'},
 {'Einwohner': 175131, 'Kanton': 'BS', 'Stadt': 'Basel'},
 {'Einwohner': 140634, 'Kanton': 'BE', 'Stadt': 'Bern'},
 {'Einwohner': 135629, 'Kanton': 'VD', 'Stadt': 'Lausanne'},
 {'Einwohner': 106778, 'Kanton': 'ZH', 'Stadt': 'Winterthur'},
 {'Einwohner': 106778, 'Kanton': 'ZH', 'Stadt': 'Winterthur'},
 {'Einwohner': 81284, 'Kanton': 'LU', 'Stadt': 'Luzern'},
 {'Einwohner': 106778, 'Kanton': 'ZH', 'Stadt': 'Winterthur'},
 {'Einwohner': 81284, 'Kanton': 'LU', 'Stadt': 'Luzern'}]

In [35]:
dct_lst.pop()

{'Einwohner': 81284, 'Kanton': 'LU', 'Stadt': 'Luzern'}

14.Ergänze die Städte-Dictionary-Liste mit Winterthur und Luzern

In [ ]:
#Siehe oben.

15.Wiederhole den loop von oben, um den Anteil der Bevölkerung an der Gesamtbevölkerung auszurechnen, dieses Mal mit Winterthur und Luzern